appnope
asttokens
comm
debugpy
decorator
executing
ipykernel
ipython
jedi
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pexpect
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
PyQt5
PyQt5-Qt5
PyQt5_sip
python-dateutil
pytz
pyzmq
six
stack-data
tornado
traitlets
tzdata
wcwidth
